.app__header {
  object-fit: contain;
  padding: 20px;
  background-color: white;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;

  .app__header__image {
    object-fit: contain;
  }
}
